<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Pareggio</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <center>
            <h1>La mossa selezionata non è valida</h1>
            <form action="gioco" method=">POST">
                <input type="submit" value="Gioco" id="button" />
            </form>
        </center>
    </body>
</html>
